step.json
{
  "Comment": "An Alm bulk upload State Function",
  "StartAt": "StartWorkflowRun",
  "States": {
    "StartWorkflowRun": {
      "Type": "Task",
      "Parameters": {
        "Name": "alm-workflow"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startWorkflowRun",
      "Catch": [
        {
          "ErrorEquals": [
            "*"
          ],
          "Next": "ListObjectInReadS3AfterFailure"
        }
      ],
      "Next": "ListObjectsFromReadAfterSuccess"
    },
    "ListObjectInReadS3AfterFailure": {
      "Type": "Task",
      "Next": "CopyObjectToUnprocessed",
      "Parameters": {
        "Bucket": "alm-read-bucket"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjects"
    },
    "ListObjectsFromReadAfterSuccess": {
      "Type": "Task",
      "Next": "CopyObjectToComplete",
      "Parameters": {
        "Bucket": "alm-read-bucket"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjects"
    },
    "CopyObjectToUnprocessed": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "alm-unprocessed-bucket",
        "CopySource.$": "States.Format('/alm-read-bucket/{}', $.Contents[0].Key)",
        "Key.$": "$.Contents[0].Key"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "DeleteReadObjectAfterUnprocessed",
      "OutputPath": "$.InputPrev"
    },
    "DeleteReadObjectAfterUnprocessed": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "alm-read-bucket",
        "Key.$": "$.input.Contents[0].Key"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "End": true
    },
    "CopyObjectToComplete": {
      "Type": "Task",
      "Next": "DeleteReadObjectAfterComplete",
      "Parameters": {
        "Bucket": "alm-complete-bucket",
        "CopySource.$": "States.Format('/alm-read-bucket/{}', $.Contents[0].Key)",
        "Key.$": "$.Contents[0].Key"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "ResultPath": "$.InputPrev"
    },
    "DeleteReadObjectAfterComplete": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "alm-read-bucket",
        "Key.$": "$.input.Contents[0].Key"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "End": true
    }
  }
}
